{% extends 'layout.twig' %}

{% block breadcrumb %}
    {{- currentDir|directoryBreadcrumb -}}
{% endblock breadcrumb %}

{% block main %}
    <table id="documents-table" data-source="{{-
        (currentDir is not null) ? path_for('files', { slug: currentDir.slug }) : path_for('files-root')
    -}}">
        <thead>
        </thead>
    </table>

    {% include 'Partial/states_form.twig' %}

    {%- if user is defined -%}
        {%- if currentDir is not null -%}
            <div style="text-align: center">
                <button id="document-butch-remove" class="btn" disabled>Remove all Checked Items</button>
                <button id="document-add" class="btn">Add new document</button>
            </div>
        {%- endif -%}

        {%- embed './Partial/modal.twig' with {
            id: 'document-move-modal',
            title: 'Move document'
        } -%}
            {% block content %}
                <form id="move-form">
                    <div>
                        <label for="directory">Destination directory</label>
                        <select id="directory" class="form-control" name="directory">
                            {%- for id, name in topLevelDirNames -%}
                                <option value="{{ id }}">{{ name }}</option>
                            {%- endfor -%}
                        </select>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-borderless" data-modal-close>Cancel</button>
                        <button type="submit" class="btn">Move</button>
                    </div>
                </form>
            {% endblock content %}
        {%- endembed -%}

        {%- embed './Partial/modal.twig' with {
            id: 'document-rename-modal',
            title: 'Rename document'
        } -%}
            {% block content %}
                <form id="rename-form">
                    <div>
                        <input id="document-name" class="form-control" name="name">
                        <p class="error" style="display: none"></p>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-borderless" data-modal-close>Cancel</button>
                        <button type="submit" class="btn">Rename</button>
                    </div>
                </form>
            {% endblock content %}
        {%- endembed -%}

        {%- embed './Partial/modal.twig' with {
            id: 'document-add-modal',
            title: 'Add new document'
        } -%}
            {% block content %}
                <form id="upload-form" action="{{ path_for('file-upload', { slug: currentDir.slug }) }}">
                    <div>
                        <input type="file" id="document-file" class="form-control" name="file[]" multiple="multiple">
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-borderless" data-modal-close>Cancel</button>
                        <button type="submit" class="btn">Add</button>
                    </div>
                </form>
            {% endblock content %}
        {%- endembed -%}
    {%- endif -%}
{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.documents = {
        showActions: {{ user is defined ? 'true' : 'false' }},
        showCheckboxes: {{ user is defined ? 'true' : 'false' }},
        user: JSON.parse('{{ userJson|e('js') }}'),
        defaultOrder: '{{ defaultOrder }}',
        butchRemoveUrl: '{{ path_for('file-butch-remove') }}',
        stateFilter: '{{ (stateFilter) ? stateFilter : '0' }}'
      };
    </script>
    <script src="/documents.js?v=2"></script>
{% endblock javascripts %}
