<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="shortcut icon" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" sizes="32x32" href="/favicon-32x32.png">
    <title>Financial Statements and Single Audits for US Governments and Non-Profits</title>

    {%- block stylesheets -%}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style.css?v=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    {%- endblock stylesheets -%}
</head>

<body>
    <header>
        <div class="logo">
            <a href="http://municipalfinance.org/">
                <img src="/logo_reason_foundation.svg?v=1">
            </a>
        </div>
        <h1 class="title">Financial Statements and Single Audits for US Governments and Non-Profits</h1>
        <div class="menu">
            {%- if user is defined -%}
                <div>Hello, {{ user.fullName -}}</div>
                <a href="{{ path_for('profile') }}">Profile</a>
                <a href="{{ path_for('logout') }}">Logout</a>
            {%- else -%}
                <a href="{{ path_for('login') }}">Login</a>
            {%- endif -%}
            {%- if user.isSuperUser -%}
                <br>
                <a href="{{ path_for('add-user') }}">Add User</a>
                <a href="{{ path_for('user-list') }}">Users</a>
            {%- endif -%}
        </div>

    </header>
    <main>
        {%- if block('breadcrumb') is defined -%}
            {{ block('breadcrumb')|raw }}
        {%- endif -%}
        {%- block main %}{% endblock main -%}
    </main>

    <footer>
        <p style="text-align:center"><span style="font-size:16px"><span style="color:#A9A9A9"><strong>Provided as a public service by <a href="http://www.municipalfinance.org">The Reason Foundation</a>.</strong></span></span></p>

        <p style="text-align:center"><span style="font-size:14px"><span style="color:#A9A9A9"><strong>To report errors or contribute files to the library please contact&nbsp;<a href="mailto:joffe@reason.org">joffe@reason.org</a></strong></span></span></p>

    </footer>

    {%- block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% endblock javascripts -%}
</body>
</html>