{% extends 'layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('types') }}">Document types</a></li>
    <li><a href="{{ path_for('states', { type: type }) }}">{{- type|prettyTypeName -}}</a></li>
    <li>{{ state|prettyStateName }}</li>
{% endblock breadcrumb %}

{% block main %}
    <table class="sortable">
        <thead>
            <tr>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {%- for year in years -%}
                <tr class="dir">
                    <td>
                        <a href="{{- path_for('documents', {
                            type:  type,
                            state: state,
                            year:  year
                        }) -}}">
                            {{- year -}}
                        </a>
                    </td>
                </tr>
            {%- endfor -%}
        </tbody>
    </table>
{% endblock main %}